In [71]:
pwd

'/Users/lourizzolo/code/LouR238/coronanet/Notebooks'

In [72]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [73]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import pyreadr
from IPython.display import display
from coronanet.data import Coronanet
from coronanet.coronanet_pp import Prepro_coronanet

# Import des trois tables

In [74]:
df_coronanet = Coronanet().get_raw_data()
df_coronanet = Prepro_coronanet().prepro_data()

/Users/lourizzolo/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/coronanet/coronanet_pp.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df_select.drop_duplicates(subset=['policy_id'], inplace=True)

In [75]:
df_coronanet.head()

,policy_id,date_start,country,ISO_A3,compliance,n_compliance,type_Anti-Disinformation Measures,type_Closure and Regulation of Schools,type_Curfew,type_Declaration of Emergency,...,type_Internal Border Restrictions,type_Lockdown,"type_New Task Force, Bureau or Administrative Configuration",type_Other Policy Not Listed Above,type_Public Awareness Measures,type_Quarantine,type_Restriction and Regulation of Businesses,type_Restriction and Regulation of Government Services,type_Restrictions of Mass Gatherings,type_Social Distancing
0,2975738,2020-03-06,Afghanistan,AFG,Voluntary/Recommended but No Penalties,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7024226,2020-03-16,Afghanistan,AFG,Mandatory (Unspecified/Implied),1.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,889484,2020-05-28,Afghanistan,AFG,Voluntary/Recommended but No Penalties,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,129322,2020-06-28,Afghanistan,AFG,Voluntary/Recommended but No Penalties,0.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,6721435,2020-03-09,Afghanistan,AFG,Mandatory (Unspecified/Implied),1.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
df_cases = pyreadr.read_r('../data/COVID-19.RData') # also works for Rds
print(df_cases.keys()) # letâ€™s check what objects we got

odict_keys(['COVID19'])

In [77]:
df_cases =df_cases['COVID19']
df_cases.head()

   ID        Date Cases Cases_New       Type    Age    Sex Source
0  AD  2020-01-22     0         0     Active  Total  Total    JHU
1  AD  2020-01-22     0         0  Confirmed  Total  Total    JHU
2  AD  2020-01-22     0         0     Deaths  Total  Total    JHU
3  AD  2020-01-22     0         0  Recovered  Total  Total    JHU
4  AD  2020-01-23     0         0     Active  Total  Total    JHU

In [78]:
df_policy = pyreadr.read_r('../data/Policy.RData') 
print(df_policy.keys())

odict_keys(['Policy'])

In [79]:
df_policy =df_policy['Policy']
df_policy.head()

   ID        Date PolicyType  PolicyValue PolicyFlag PolicyNotes PolicySource
0  AD  2020-01-01         C1          0.0        NaN         NaN       OxCGRT
1  AD  2020-01-01         C2          0.0        NaN         NaN       OxCGRT
2  AD  2020-01-01         C3          0.0        NaN         NaN       OxCGRT
3  AD  2020-01-01         C4          0.0        NaN         NaN       OxCGRT
4  AD  2020-01-01         C5          0.0        NaN         NaN       OxCGRT

# SÃ©lection des colonnes d'intÃ©rÃªt

## Table coronanet

In [80]:
print(df_coronanet.columns)
print(df_coronanet.shape)
print(df_coronanet.isnull().sum())

Index(['policy_id', 'date_start', 'country', 'ISO_A3', 'compliance',
       'n_compliance', 'type_Anti-Disinformation Measures',
       'type_Closure and Regulation of Schools', 'type_Curfew',
       'type_Declaration of Emergency', 'type_External Border Restrictions',
       'type_Health Monitoring', 'type_Health Resources',
       'type_Health Testing', 'type_Hygiene',
       'type_Internal Border Restrictions', 'type_Lockdown',
       'type_New Task Force, Bureau or Administrative Configuration',
       'type_Other Policy Not Listed Above', 'type_Public Awareness Measures',
       'type_Quarantine', 'type_Restriction and Regulation of Businesses',
       'type_Restriction and Regulation of Government Services',
       'type_Restrictions of Mass Gatherings', 'type_Social Distancing'],
      dtype='object')
(24828, 25)
policy_id                                                        0
date_start                                                       0
country                                                          0
ISO_A3                                                           0
compliance                                                       0
n_compliance                                                   113
type_Anti-Disinformation Measures                                0
type_Closure and Regulation of Schools                           0
type_Curfew                                                      0
type_Declaration of Emergency                                    0
type_External Border Restrictions                                0
type_Health Monitoring                                           0
type_Health Resources                                            0
type_Health Testing                                              0
type_Hygiene                                                     0
type_Internal Border Restrictions                                0
type_Lockdown                                                    0
type_New Task Force, Bureau or Administrative Configuration      0
type_Other Policy Not Listed Above                               0
type_Public Awareness Measures                                   0
type_Quarantine                                                  0
type_Restriction and Regulation of Businesses                    0
type_Restriction and Regulation of Government Services           0
type_Restrictions of Mass Gatherings                             0
type_Social Distancing                                           0
dtype: int64

In [81]:
df_coronanet = df_coronanet[['date_start', 'ISO_A3', 'n_compliance', 'type_Anti-Disinformation Measures',
       'type_Closure and Regulation of Schools', 'type_Curfew',
       'type_Declaration of Emergency', 'type_External Border Restrictions',
       'type_Health Monitoring', 'type_Health Resources',
       'type_Health Testing', 'type_Hygiene',
       'type_Internal Border Restrictions', 'type_Lockdown',
       'type_New Task Force, Bureau or Administrative Configuration',
       'type_Other Policy Not Listed Above', 'type_Public Awareness Measures',
       'type_Quarantine', 'type_Restriction and Regulation of Businesses',
       'type_Restriction and Regulation of Government Services',
       'type_Restrictions of Mass Gatherings', 'type_Social Distancing']]

In [82]:
print(df_coronanet.columns)
print(df_coronanet.shape)

Index(['date_start', 'ISO_A3', 'n_compliance',
       'type_Anti-Disinformation Measures',
       'type_Closure and Regulation of Schools', 'type_Curfew',
       'type_Declaration of Emergency', 'type_External Border Restrictions',
       'type_Health Monitoring', 'type_Health Resources',
       'type_Health Testing', 'type_Hygiene',
       'type_Internal Border Restrictions', 'type_Lockdown',
       'type_New Task Force, Bureau or Administrative Configuration',
       'type_Other Policy Not Listed Above', 'type_Public Awareness Measures',
       'type_Quarantine', 'type_Restriction and Regulation of Businesses',
       'type_Restriction and Regulation of Government Services',
       'type_Restrictions of Mass Gatherings', 'type_Social Distancing'],
      dtype='object')
(24828, 22)

## table unified df_cases

In [83]:
print(df_cases.columns)
print(df_cases.shape)
print(df_cases.isnull().sum())

Index(['ID', 'Date', 'Cases', 'Cases_New', 'Type', 'Age', 'Sex', 'Source'], dtype='object')
(7521587, 8)
ID               0
Date             0
Cases        60907
Cases_New    60907
Type             0
Age              0
Sex              0
Source           0
dtype: int64

In [84]:
# pas de NaN sur les cas en France
tmp = df_cases[df_cases['Cases'].isnull()]
t = tmp[tmp['ID']=='FR']

In [85]:
df_cases = df_cases[['ID', 'Date', 'Cases', 'Cases_New']]

In [86]:
df_cases.head()

   ID        Date Cases Cases_New
0  AD  2020-01-22     0         0
1  AD  2020-01-22     0         0
2  AD  2020-01-22     0         0
3  AD  2020-01-22     0         0
4  AD  2020-01-23     0         0

In [87]:
print(df_cases.columns)
print(df_cases.shape)
print(df_cases.isnull().sum())

Index(['ID', 'Date', 'Cases', 'Cases_New'], dtype='object')
(7521587, 4)
ID               0
Date             0
Cases        60907
Cases_New    60907
dtype: int64

## Table unified df_policy

In [88]:
print(df_policy.columns)
print(df_policy.shape)
print(df_policy.isnull().sum())

Index(['ID', 'Date', 'PolicyType', 'PolicyValue', 'PolicyFlag', 'PolicyNotes',
       'PolicySource'],
      dtype='object')
(2793100, 7)
ID                    0
Date                  0
PolicyType            0
PolicyValue      365245
PolicyFlag      2242814
PolicyNotes     2749579
PolicySource          0
dtype: int64

In [89]:
df_policy.head()

   ID        Date PolicyType  PolicyValue PolicyFlag PolicyNotes PolicySource
0  AD  2020-01-01         C1          0.0        NaN         NaN       OxCGRT
1  AD  2020-01-01         C2          0.0        NaN         NaN       OxCGRT
2  AD  2020-01-01         C3          0.0        NaN         NaN       OxCGRT
3  AD  2020-01-01         C4          0.0        NaN         NaN       OxCGRT
4  AD  2020-01-01         C5          0.0        NaN         NaN       OxCGRT

In [90]:
df_policy = df_policy[['ID','Date','PolicyType']]

# Concentrons-nous sur la France pour le moment

In [91]:
df_coronanet = df_coronanet[df_coronanet['ISO_A3'] =='FRA']

In [92]:
df_cases = df_cases[df_cases['ID']=='FR']

In [93]:
df_policy = df_policy[df_policy['ID']=='FR']

In [94]:
print(df_coronanet.shape)
print(df_cases.shape)
print(df_policy.shape)

(179, 22)
(1272, 4)
(10540, 3)

# Exploration des trois tables pour merge

In [95]:
df_coronanet.head()

,date_start,ISO_A3,n_compliance,type_Anti-Disinformation Measures,type_Closure and Regulation of Schools,type_Curfew,type_Declaration of Emergency,type_External Border Restrictions,type_Health Monitoring,type_Health Resources,...,type_Internal Border Restrictions,type_Lockdown,"type_New Task Force, Bureau or Administrative Configuration",type_Other Policy Not Listed Above,type_Public Awareness Measures,type_Quarantine,type_Restriction and Regulation of Businesses,type_Restriction and Regulation of Government Services,type_Restrictions of Mass Gatherings,type_Social Distancing
11198,2020-03-20,FRA,0.0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11199,2020-03-02,FRA,1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11205,2020-03-06,FRA,1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11213,2020-03-09,FRA,1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11217,2020-03-09,FRA,1.0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [96]:
df_coronanet.dtypes

date_start                                                     datetime64[ns]
ISO_A3                                                                 object
n_compliance                                                          float64
type_Anti-Disinformation Measures                                       uint8
type_Closure and Regulation of Schools                                  uint8
type_Curfew                                                             uint8
type_Declaration of Emergency                                           uint8
type_External Border Restrictions                                       uint8
type_Health Monitoring                                                  uint8
type_Health Resources                                                   uint8
type_Health Testing                                                     uint8
type_Hygiene                                                            uint8
type_Internal Border Restrictions                                       uint8
type_Lockdown                                                           uint8
type_New Task Force, Bureau or Administrative Configuration             uint8
type_Other Policy Not Listed Above                                      uint8
type_Public Awareness Measures                                          uint8
type_Quarantine                                                         uint8
type_Restriction and Regulation of Businesses                           uint8
type_Restriction and Regulation of Government Services                  uint8
type_Restrictions of Mass Gatherings                                    uint8
type_Social Distancing                                                  uint8
dtype: object

In [97]:
df_cases.head()

         ID        Date Cases Cases_New
2970263  FR  2020-01-22     0         0
2970264  FR  2020-01-22     0         0
2970265  FR  2020-01-22     0         0
2970266  FR  2020-01-22     0         0
2970267  FR  2020-01-23     0         0

In [98]:
df_cases.dtypes

ID           object
Date         object
Cases        object
Cases_New    object
dtype: object

In [99]:
df_policy.head()

        ID        Date PolicyType
895900  FR  2020-01-01         C1
895901  FR  2020-01-01         C2
895902  FR  2020-01-01         C3
895903  FR  2020-01-01         C4
895904  FR  2020-01-01         C5

In [100]:
df_policy.dtypes

ID            object
Date          object
PolicyType    object
dtype: object

# Preparation colonnes dates

In [102]:
df_coronanet['Date'] = df_coronanet['date_start']

In [103]:
df_coronanet.columns

Index(['date_start', 'ISO_A3', 'n_compliance',
       'type_Anti-Disinformation Measures',
       'type_Closure and Regulation of Schools', 'type_Curfew',
       'type_Declaration of Emergency', 'type_External Border Restrictions',
       'type_Health Monitoring', 'type_Health Resources',
       'type_Health Testing', 'type_Hygiene',
       'type_Internal Border Restrictions', 'type_Lockdown',
       'type_New Task Force, Bureau or Administrative Configuration',
       'type_Other Policy Not Listed Above', 'type_Public Awareness Measures',
       'type_Quarantine', 'type_Restriction and Regulation of Businesses',
       'type_Restriction and Regulation of Government Services',
       'type_Restrictions of Mass Gatherings', 'type_Social Distancing',
       'Date'],
      dtype='object')

In [104]:
df_cases['Date'] = pd.to_datetime(df_cases['Date'])

In [105]:
df_policy['Date'] = pd.to_datetime(df_policy['Date'])

# merge des deux tables unified pour baseline model

In [123]:
print(df_cases.shape)
print(df_policy.shape)

(1272, 4)
(10540, 3)

In [124]:
# Merge DataFrame
matching_table = df_cases\
.merge(df_policy, on="Date", how="outer")

In [125]:
matching_table.head()

  ID_x       Date Cases Cases_New ID_y PolicyType
0   FR 2020-01-22     0         0   FR         C1
1   FR 2020-01-22     0         0   FR         C2
2   FR 2020-01-22     0         0   FR         C3
3   FR 2020-01-22     0         0   FR         C4
4   FR 2020-01-22     0         0   FR         C5

In [126]:
matching_table.columns

Index(['ID_x', 'Date', 'Cases', 'Cases_New', 'ID_y', 'PolicyType'], dtype='object')

In [202]:
df = matching_table[['Date', 'Cases', 'Cases_New',  'PolicyType']]

In [203]:
date_start = '2020-03-01'
date_end = '2020-11-30'

In [204]:
mask = (df['Date'] > date_start) & (df['Date'] <= date_end)

In [236]:
df = matching_table.loc[mask]

In [237]:
df.shape

(33976, 6)

In [238]:
df.head()

     ID_x       Date Cases Cases_New ID_y PolicyType
4960   FR 2020-03-02   176        60   FR         C1
4961   FR 2020-03-02   176        60   FR         C2
4962   FR 2020-03-02   176        60   FR         C3
4963   FR 2020-03-02   176        60   FR         C4
4964   FR 2020-03-02   176        60   FR         C5

In [239]:
def handle_restriction(x):
    if 'C' in x:
        return 0
    if 'E' in x:
        return 1
    if 'H' in x:
        return 2
    if 'M' in x:
        return 3
    if 'I' in x:
        return 4

In [240]:
df['restriction'] = df['PolicyType'].apply(handle_restriction)

/Users/lourizzolo/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [243]:
df.head()

     ID_x       Date Cases Cases_New ID_y PolicyType  restriction
4960   FR 2020-03-02   176        60   FR         C1            0
4961   FR 2020-03-02   176        60   FR         C2            0
4962   FR 2020-03-02   176        60   FR         C3            0
4963   FR 2020-03-02   176        60   FR         C4            0
4964   FR 2020-03-02   176        60   FR         C5            0

In [244]:
df2=df.copy()

In [245]:
df2[['Cases', 'Cases_New']] = df2[['Cases', 'Cases_New']].astype('int32')

In [246]:
df=df2

In [247]:
print(df.dtypes)
print(df.columns)

ID_x                   object
Date           datetime64[ns]
Cases                   int32
Cases_New               int32
ID_y                   object
PolicyType             object
restriction             int64
dtype: object
Index(['ID_x', 'Date', 'Cases', 'Cases_New', 'ID_y', 'PolicyType',
       'restriction'],
      dtype='object')

In [249]:
df.drop_duplicates(subset=['Date', 'restriction'])

      ID_x       Date    Cases  Cases_New ID_y PolicyType  restriction
4960    FR 2020-03-02      176         60   FR         C1            0
4968    FR 2020-03-02      176         60   FR         E1            1
4972    FR 2020-03-02      176         60   FR         H1            2
4978    FR 2020-03-02      176         60   FR         I1            4
4990    FR 2020-03-02      176         60   FR         M1            3
5084    FR 2020-03-03      188         12   FR         C1            0
5092    FR 2020-03-03      188         12   FR         E1            1
5096    FR 2020-03-03      188         12   FR         H1            2
5102    FR 2020-03-03      188         12   FR         I1            4
5114    FR 2020-03-03      188         12   FR         M1            3
5208    FR 2020-03-04      269         81   FR         C1            0
5216    FR 2020-03-04      269         81   FR         E1            1
5220    FR 2020-03-04      269         81   FR         H1            2
5226    FR 2020-03-04      269         81   FR         I1            4
5238    FR 2020-03-04      269         81   FR         M1            3
5332    FR 2020-03-05      359         90   FR         C1            0
5340    FR 2020-03-05      359         90   FR         E1            1
5344    FR 2020-03-05      359         90   FR         H1            2
5350    FR 2020-03-05      359         90   FR         I1            4
5362    FR 2020-03-05      359         90   FR         M1            3
5456    FR 2020-03-06      632        273   FR         C1            0
5464    FR 2020-03-06      632        273   FR         E1            1
5468    FR 2020-03-06      632        273   FR         H1            2
5474    FR 2020-03-06      632        273   FR         I1            4
5486    FR 2020-03-06      632        273   FR         M1            3
5580    FR 2020-03-07      926        294   FR         C1            0
5588    FR 2020-03-07      926        294   FR         E1            1
5592    FR 2020-03-07      926        294   FR         H1            2
5598    FR 2020-03-07      926        294   FR         I1            4
5610    FR 2020-03-07      926        294   FR         M1            3
...    ...        ...      ...        ...  ...        ...          ...
38192   FR 2020-11-25  1984472      12997   FR         C1            0
38200   FR 2020-11-25  1984472      12997   FR         E1            1
38204   FR 2020-11-25  1984472      12997   FR         H1            2
38210   FR 2020-11-25  1984472      12997   FR         I1            4
38222   FR 2020-11-25  1984472      12997   FR         M1            3
38316   FR 2020-11-26  1995990      11518   FR         C1            0
38324   FR 2020-11-26  1995990      11518   FR         E1            1
38328   FR 2020-11-26  1995990      11518   FR         H1            2
38334   FR 2020-11-26  1995990      11518   FR         I1            4
38346   FR 2020-11-26  1995990      11518   FR         M1            3
38440   FR 2020-11-27  2005690       9700   FR         C1            0
38448   FR 2020-11-27  2005690       9700   FR         E1            1
38452   FR 2020-11-27  2005690       9700   FR         H1            2
38458   FR 2020-11-27  2005690       9700   FR         I1            4
38470   FR 2020-11-27  2005690       9700   FR         M1            3
38564   FR 2020-11-28  2017326      11636   FR         C1            0
38572   FR 2020-11-28  2017326      11636   FR         E1            1
38576   FR 2020-11-28  2017326      11636   FR         H1            2
38582   FR 2020-11-28  2017326      11636   FR         I1            4
38594   FR 2020-11-28  2017326      11636   FR         M1            3
38688   FR 2020-11-29  2026622       9296   FR         C1            0
38696   FR 2020-11-29  2026622       9296   FR         E1            1
38700   FR 2020-11-29  2026622       9296   FR         H1            2
38706   FR 2020-11-29  2026622       9296   FR         I1            4
38718   FR 2020-11-29  2026622       9296   FR         M1            3
38812   FR 2020-11-30  2029228       2606   FR         C1            0
38820   FR 2020-11-30  2029228       2606   FR         E1            1
38824   FR 2020-11-30  2029228       2606   FR         H1            2
38830   FR 2020-11-30  2029228       2606   FR         I1            4
38842   FR 2020-11-30  2029228       2606   FR         M1            3

[1370 rows x 7 columns]