In [1]:
pwd

'/Users/lourizzolo/code/LouR238/coronanet/Notebooks'

In [2]:
%load_ext autoreload
%autoreload 2

In [103]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import pyreadr
from IPython.display import display
from coronanet.data import Coronanet
from coronanet.coronanet_pp import Prepro_coronanet
import statsmodels.api as sm

In [64]:
df_cases = pd.read_csv('../data/csv/LMA_relative_time_cases.csv')

In [65]:
df_cases.head()

,Unnamed: 0,Date,ID,Policy,Cases,Cases_New,Type,Source,J14,J-14,J7,J21
0,0,2020-01-26,CN,C1,56,14.0,Deaths,JHU,905,-10000,361,1766
1,1,2020-01-26,CN,C2,56,14.0,Deaths,JHU,905,-10000,361,1766
2,2,2020-01-22,CN,C3,17,17.0,Deaths,JHU,563,-10000,133,1117
3,3,2020-01-22,CN,C4,17,17.0,Deaths,JHU,563,-10000,133,1117
4,4,2020-01-23,CN,C5,18,1.0,Deaths,JHU,633,-10000,171,1369

In [66]:
df_cases.Date.max()

'2020-12-04'

In [67]:
df_cases.shape

(3632, 12)

In [68]:
df_cases.columns

Index(['Unnamed: 0', 'Date', 'ID', 'Policy', 'Cases', 'Cases_New', 'Type',
       'Source', 'J14', 'J-14', 'J7', 'J21'],
      dtype='object')

In [69]:
df_cases = df_cases[['Date','ID', 'Policy', 'Cases', 'Cases_New','J14', 'J-14', 'J7', 'J21' ]]

In [70]:
df_cases.head()

         Date  ID Policy  Cases  Cases_New  J14   J-14   J7   J21
0  2020-01-26  CN     C1     56       14.0  905 -10000  361  1766
1  2020-01-26  CN     C2     56       14.0  905 -10000  361  1766
2  2020-01-22  CN     C3     17       17.0  563 -10000  133  1117
3  2020-01-22  CN     C4     17       17.0  563 -10000  133  1117
4  2020-01-23  CN     C5     18        1.0  633 -10000  171  1369

In [76]:
df_cases_it = df_cases[df_cases['ID']=='IT']

In [77]:
df_cases_it.Date.max()

'2020-11-26'

In [78]:
count = df_cases_it.groupby('Date').count()['Policy']

In [79]:
c = pd.DataFrame(count)

In [80]:
df_cases_it = df_cases_fr.drop_duplicates(subset=['Date'])

In [81]:
df_cases_it.head()

           Date  ID Policy  Cases  Cases_New   J14   J-14    J7    J21
482  2020-02-23  IT     C1      3        1.0   366      0    34   1809
486  2020-02-22  IT     C2      2        1.0   233      0    29   1441
487  2020-03-11  IT     C5    827      196.0  7503     12  2978  13155
488  2020-02-21  IT     C7      1        1.0   197      0    21   1266
489  2020-01-23  IT     C8      0        0.0     0 -10000     0      0

In [82]:
df_cases_it['count_policy'] = c.values

/Users/lourizzolo/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [85]:
df_cases_it = df_cases_it.sort_values(by=['Date'])

In [86]:
df_cases_it

,Date,ID,Policy,Cases,Cases_New,J14,J-14,J7,J21,count_policy
489,2020-01-23,IT,C8,0,0.0,0,-10000,0,0,4
500,2020-01-31,IT,H1,0,0.0,0,-10000,0,1,3
488,2020-02-21,IT,C7,1,1.0,197,0,21,1266,1
486,2020-02-22,IT,C2,2,1.0,233,0,29,1441,3
482,2020-02-23,IT,C1,3,1.0,366,0,34,1809,6
498,2020-02-28,IT,E3,21,4.0,1266,0,197,4032,1
487,2020-03-11,IT,C5,827,196.0,7503,12,2978,13155,1
503,2020-03-16,IT,H4,2158,349.0,11591,52,6077,16523,1
495,2020-03-17,IT,E1,2503,345.0,12428,79,6820,17127,1
505,2020-04-04,IT,H6,15362,681.0,23227,4825,19468,26384,1
504,2020-08-16,IT,H5,35396,4.0,35477,35154,35437,35541,1
499,2020-11-26,IT,E4,52850,822.0,-10000,43589,58038,-10000,1

In [87]:
df_cases_it['delta'] = df_cases_it['Cases'] - df_cases_it['J14']

In [88]:
df_cases_it

,Date,ID,Policy,Cases,Cases_New,J14,J-14,J7,J21,count_policy,delta
489,2020-01-23,IT,C8,0,0.0,0,-10000,0,0,4,0
500,2020-01-31,IT,H1,0,0.0,0,-10000,0,1,3,0
488,2020-02-21,IT,C7,1,1.0,197,0,21,1266,1,-196
486,2020-02-22,IT,C2,2,1.0,233,0,29,1441,3,-231
482,2020-02-23,IT,C1,3,1.0,366,0,34,1809,6,-363
498,2020-02-28,IT,E3,21,4.0,1266,0,197,4032,1,-1245
487,2020-03-11,IT,C5,827,196.0,7503,12,2978,13155,1,-6676
503,2020-03-16,IT,H4,2158,349.0,11591,52,6077,16523,1,-9433
495,2020-03-17,IT,E1,2503,345.0,12428,79,6820,17127,1,-9925
505,2020-04-04,IT,H6,15362,681.0,23227,4825,19468,26384,1,-7865
504,2020-08-16,IT,H5,35396,4.0,35477,35154,35437,35541,1,-81
499,2020-11-26,IT,E4,52850,822.0,-10000,43589,58038,-10000,1,62850

In [100]:
def handle(x):
    if x <= 0:
        return 0
    if x > 0:
        return 1

In [101]:
df_cases_it['efficiency'] = df_cases_it['delta'].apply(handle)

In [102]:
df_cases_it

,Date,ID,Policy,Cases,Cases_New,J14,J-14,J7,J21,count_policy,delta,efficiency
489,2020-01-23,IT,C8,0,0.0,0,-10000,0,0,4,0,0
500,2020-01-31,IT,H1,0,0.0,0,-10000,0,1,3,0,0
488,2020-02-21,IT,C7,1,1.0,197,0,21,1266,1,-196,0
486,2020-02-22,IT,C2,2,1.0,233,0,29,1441,3,-231,0
482,2020-02-23,IT,C1,3,1.0,366,0,34,1809,6,-363,0
498,2020-02-28,IT,E3,21,4.0,1266,0,197,4032,1,-1245,0
487,2020-03-11,IT,C5,827,196.0,7503,12,2978,13155,1,-6676,0
503,2020-03-16,IT,H4,2158,349.0,11591,52,6077,16523,1,-9433,0
495,2020-03-17,IT,E1,2503,345.0,12428,79,6820,17127,1,-9925,0
505,2020-04-04,IT,H6,15362,681.0,23227,4825,19468,26384,1,-7865,0
504,2020-08-16,IT,H5,35396,4.0,35477,35154,35437,35541,1,-81,0
499,2020-11-26,IT,E4,52850,822.0,-10000,43589,58038,-10000,1,62850,1

In [106]:
X = df_cases_it[['count_policy']]
y = df_cases_it[['efficiency']]

In [107]:
log_reg = sm.Logit(y, X).fit()

Optimization terminated successfully.
         Current function value: 0.251684
         Iterations 8

In [108]:
log_reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:             efficiency   No. Observations:                   12
Model:                          Logit   Df Residuals:                       11
Method:                           MLE   Df Model:                            0
Date:                Fri, 11 Dec 2020   Pseudo R-squ.:                  0.1225
Time:                        16:47:37   Log-Likelihood:                -3.0202
converged:                       True   LL-Null:                       -3.4420
Covariance Type:            nonrobust   LLR p-value:                       nan
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
count_policy    -1.9666      1.044     -1.883      0.060      -4.013       0.080
================================================================================
"""