In [14]:
import pandas as pd
from coronanet.feateng import t0_creation
import pyreadr
import datetime
import numpy as np

# import du CSV de Paul

In [15]:
df = pd.read_csv('../data_LMA/DataCoronaNet/baseline_df.csv')
deaths = pd.read_csv('../data_LMA/DataCoronaNet/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [16]:
cases_df2 = pyreadr.read_r('../data_LMA/DataCoronaNet/JH/COVID-19_Unified-Dataset-master/COVID-19.RData') # also works for Rds
print(cases_df2.keys()) # let's check what objects we got
cases_df2 =cases_df2['COVID19']

odict_keys(['COVID19'])

## preproc du CSV de Paul

In [17]:
df = pd.read_csv('../data_LMA/DataCoronaNet/baseline_df.csv')

In [18]:
df.head(3)

   Unnamed: 0        Date  ID Policy
0           0  2020-01-26  CN     C1
1           1  2020-01-26  CN     C2
2           2  2020-01-22  CN     C3

In [19]:
df.drop(columns='Unnamed: 0', inplace=True)

In [20]:
df = df[df['Date']!='ID unknown'] 
df = df[df['Date']!='Policy unknown']

In [21]:
df.isna().sum()

Date      26
ID         0
Policy     0
dtype: int64

In [22]:
df.dropna(inplace=True)

In [23]:
df.Date =  pd.to_datetime(df.Date)

In [24]:
df.dtypes

Date      datetime64[ns]
ID                object
Policy            object
dtype: object

## Preproc de Death.CSV

In [25]:
deaths = t0_creation(deaths)
deaths.drop(index=318, inplace=True)
cols = deaths.columns.tolist()
cols = cols[1:]

In [26]:
deaths.date = pd.to_datetime(deaths.date)
for i in cols:
    deaths[f'{i}'] = deaths[f'{i}'].iloc[:318].astype('int')

In [27]:
deaths.head(3)

,date,Afghanistan,Albania,Algeria,Andorra,Angola,Argentina,Armenia,Australia New South Wales,Australia Tasmania,...,United Kingdom Isle of Man,United Kingdom,Uruguay,Uzbekistan,Venezuela,Vietnam,West Bank and Gaza,Yemen,Zambia,Zimbabwe
0,2020-01-22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2020-01-23,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2020-01-24,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Preproc de Cases

In [33]:
cases_df = cases_df2.copy()
cases_df = cases_df.drop(columns=['Age','Sex'])
cases_df.Date =  pd.to_datetime(cases_df.Date)
cases_df['Cases_New'] = cases_df['Cases_New'].astype('float')
cases_df['Cases'] = cases_df['Cases'].astype('float')
cases_df['Cases'] = pd.to_numeric(cases_df['Cases'], downcast='float')
cases_df['Cases_New'] = pd.to_numeric(cases_df['Cases_New'], downcast='float')
cases_df = cases_df[cases_df['Source']=='JHU']
cases_df = cases_df[cases_df.Type == 'Deaths']

In [36]:
cases_df

         ID       Date  Cases  Cases_New    Type Source
2        AD 2020-01-22    0.0        0.0  Deaths    JHU
6        AD 2020-01-23    0.0        0.0  Deaths    JHU
10       AD 2020-01-24    0.0        0.0  Deaths    JHU
14       AD 2020-01-25    0.0        0.0  Deaths    JHU
18       AD 2020-01-26    0.0        0.0  Deaths    JHU
22       AD 2020-01-27    0.0        0.0  Deaths    JHU
26       AD 2020-01-28    0.0        0.0  Deaths    JHU
30       AD 2020-01-29    0.0        0.0  Deaths    JHU
34       AD 2020-01-30    0.0        0.0  Deaths    JHU
38       AD 2020-01-31    0.0        0.0  Deaths    JHU
42       AD 2020-02-01    0.0        0.0  Deaths    JHU
46       AD 2020-02-02    0.0        0.0  Deaths    JHU
50       AD 2020-02-03    0.0        0.0  Deaths    JHU
54       AD 2020-02-04    0.0        0.0  Deaths    JHU
58       AD 2020-02-05    0.0        0.0  Deaths    JHU
62       AD 2020-02-06    0.0        0.0  Deaths    JHU
66       AD 2020-02-07    0.0        0.0  Deaths    JHU
70       AD 2020-02-08    0.0        0.0  Deaths    JHU
74       AD 2020-02-09    0.0        0.0  Deaths    JHU
78       AD 2020-02-10    0.0        0.0  Deaths    JHU
82       AD 2020-02-11    0.0        0.0  Deaths    JHU
86       AD 2020-02-12    0.0        0.0  Deaths    JHU
90       AD 2020-02-13    0.0        0.0  Deaths    JHU
94       AD 2020-02-14    0.0        0.0  Deaths    JHU
98       AD 2020-02-15    0.0        0.0  Deaths    JHU
102      AD 2020-02-16    0.0        0.0  Deaths    JHU
106      AD 2020-02-17    0.0        0.0  Deaths    JHU
110      AD 2020-02-18    0.0        0.0  Deaths    JHU
114      AD 2020-02-19    0.0        0.0  Deaths    JHU
118      AD 2020-02-20    0.0        0.0  Deaths    JHU
...      ..        ...    ...        ...     ...    ...
7521469  ZW 2020-11-05  248.0        0.0  Deaths    JHU
7521473  ZW 2020-11-06  250.0        2.0  Deaths    JHU
7521477  ZW 2020-11-07  251.0        1.0  Deaths    JHU
7521481  ZW 2020-11-08  253.0        2.0  Deaths    JHU
7521485  ZW 2020-11-09  254.0        1.0  Deaths    JHU
7521489  ZW 2020-11-10  255.0        1.0  Deaths    JHU
7521493  ZW 2020-11-11  255.0        0.0  Deaths    JHU
7521497  ZW 2020-11-12  255.0        0.0  Deaths    JHU
7521501  ZW 2020-11-13  257.0        2.0  Deaths    JHU
7521505  ZW 2020-11-14  257.0        0.0  Deaths    JHU
7521509  ZW 2020-11-15  257.0        0.0  Deaths    JHU
7521513  ZW 2020-11-16  257.0        0.0  Deaths    JHU
7521517  ZW 2020-11-17  260.0        3.0  Deaths    JHU
7521521  ZW 2020-11-18  261.0        1.0  Deaths    JHU
7521525  ZW 2020-11-19  265.0        4.0  Deaths    JHU
7521529  ZW 2020-11-20  265.0        0.0  Deaths    JHU
7521533  ZW 2020-11-21  265.0        0.0  Deaths    JHU
7521537  ZW 2020-11-22  268.0        3.0  Deaths    JHU
7521541  ZW 2020-11-23  273.0        5.0  Deaths    JHU
7521545  ZW 2020-11-24  274.0        1.0  Deaths    JHU
7521549  ZW 2020-11-25  274.0        0.0  Deaths    JHU
7521553  ZW 2020-11-26  274.0        0.0  Deaths    JHU
7521557  ZW 2020-11-27  275.0        1.0  Deaths    JHU
7521561  ZW 2020-11-28  275.0        0.0  Deaths    JHU
7521565  ZW 2020-11-29  275.0        0.0  Deaths    JHU
7521569  ZW 2020-11-30  276.0        1.0  Deaths    JHU
7521573  ZW 2020-12-01  277.0        1.0  Deaths    JHU
7521577  ZW 2020-12-02  277.0        0.0  Deaths    JHU
7521581  ZW 2020-12-03  280.0        3.0  Deaths    JHU
7521585  ZW 2020-12-04  281.0        1.0  Deaths    JHU

[1134514 rows x 6 columns]

# Merge des bases

In [37]:
df_paul = df.copy()
df_death = deaths.copy()
df_cases = cases_df.copy()

In [38]:
test_merge = df_paul.merge(df_cases, how='inner', left_on=['Date', 'ID'], right_on=['Date', 'ID'])
test_merge['Cases'] = test_merge['Cases'].astype('int32')

In [39]:
test_merge.head()

        Date  ID Policy  Cases  Cases_New    Type Source
0 2020-01-26  CN     C1     56       14.0  Deaths    JHU
1 2020-01-26  CN     C2     56       14.0  Deaths    JHU
2 2020-01-22  CN     C3     17       17.0  Deaths    JHU
3 2020-01-22  CN     C4     17       17.0  Deaths    JHU
4 2020-01-23  CN     C5     18        1.0  Deaths    JHU

## Ajout de features

In [40]:
merge = test_merge.copy()
merge['J14'] = -10000

In [ ]:
for i in range(merge.shape[0]):
    j14 = merge['Date'][i]+datetime.timedelta(days=14)
    try:
        if j14 < pd.to_datetime('2020-12-04'):
            merge['J14'][i] = (df_cases[(df_cases['Date'] == (merge['Date'][i]+datetime.timedelta(days=14))) &
                        (df_cases['ID'] == merge['ID'][i]) & (df_cases['Type'] == 'Deaths')]['Cases'])
    except:
        np.nan

/Users/Laurent/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [96]:
merge[merge['J14'].isnull()][merge['ID']=='']

/Users/Laurent/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

Empty DataFrame
Columns: [Date, ID, Policy, Cases, Cases_New, Type, J14]
Index: []

In [22]:
def coucou(date, pays, Type='Deaths'):
    j14 = date + datetime.timedelta(days=14)
    if j14 < pd.to_datetime('2020-12-04'):
        tmp = df_cases[(df_cases['ID']==pays) & (df_cases['Type']==Type)]
        return tmp[tmp["Date"] == j14]['Cases']

In [23]:
coucou(pd.to_datetime('2020-01-26'),'CN')

2298795    905.0
Name: Cases, dtype: float32

In [52]:
_ = df_cases[(df_cases['ID']=='CN') & (df_cases['Type']=='Deaths')]

_[_['Date'] == pd.to_datetime('2020-01-22')+ datetime.timedelta(days=14)]['Cases']

2298779    563.0
Name: Cases, dtype: float32

In [24]:
merge['J14'] = merge.apply(lambda row: coucou(row.Date,row.ID), axis=1)

# do same but attach it to the dataframe
# df['c'] = df.apply(lambda row: somme(row.Date,row.ID), axis=1)

In [98]:
merge.to_csv('LMA_J14_temp.csv')

In [32]:
merge10.drop(columns= 'J14', inplace=True)

/Users/Laurent/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [54]:
merge11= merge10.apply(lambda row: coucou(row.Date,row.ID), axis=1, result_type='expand')
merge11
 # do same but attach it to the dataframe
# df['c'] = df.apply(lambda row: somme(row.Date,row.ID), axis=1)

   2298779  2298783  2298795  2298915  2299099
0      NaN      NaN    905.0      NaN      NaN
1      NaN      NaN    905.0      NaN      NaN
2    563.0      NaN      NaN      NaN      NaN
3    563.0      NaN      NaN      NaN      NaN
4      NaN    633.0      NaN      NaN      NaN
5      NaN    633.0      NaN      NaN      NaN
6      NaN    633.0      NaN      NaN      NaN
7      NaN      NaN      NaN   3139.0      NaN
8      NaN      NaN      NaN      NaN   4636.0
9      NaN      NaN      NaN      NaN   4636.0

In [25]:
df_cases[(df_cases['Date']=='2020-11-26') & (df_cases['ID']=='AD') & (df_cases['Type']=='Deaths')]['Cases']

1238    76.0
Name: Cases, dtype: float32

In [29]:
merge

           Date  ID Policy  Cases  Cases_New    Type  J14
0    2020-01-26  CN     C1     56       14.0  Deaths  NaN
1    2020-01-26  CN     C2     56       14.0  Deaths  NaN
2    2020-01-22  CN     C3     17       17.0  Deaths  NaN
3    2020-01-22  CN     C4     17       17.0  Deaths  NaN
4    2020-01-23  CN     C5     18        1.0  Deaths  NaN
5    2020-01-23  CN     C6     18        1.0  Deaths  NaN
6    2020-01-23  CN     C7     18        1.0  Deaths  NaN
7    2020-02-25  CN     C8   2665       70.0  Deaths  NaN
8    2020-04-11  CN     E1   3343        3.0  Deaths  NaN
9    2020-04-11  CN    I2D   3343        3.0  Deaths  NaN
10   2020-05-21  CN     E2   4638        0.0  Deaths  NaN
11   2020-02-04  CN     E3    491       66.0  Deaths  NaN
12   2020-03-08  CN     E4   3100       28.0  Deaths  NaN
13   2020-02-23  CN     H4   2445        2.0  Deaths  NaN
14   2020-03-05  IN     C1      0        0.0  Deaths  NaN
15   2020-03-05  IN     C3      0        0.0  Deaths  NaN
16   2020-03-16  IN     C2      2        0.0  Deaths  NaN
17   2020-03-16  IN     C7      2        0.0  Deaths  NaN
18   2020-03-19  IN     C4      4        1.0  Deaths  NaN
19   2020-03-19  IN     E3      4        1.0  Deaths  NaN
20   2020-03-20  IN     C5      5        1.0  Deaths  NaN
21   2020-03-20  IN     E1      5        1.0  Deaths  NaN
22   2020-01-26  IN     C6      0        0.0  Deaths  NaN
23   2020-01-26  IN     C8      0        0.0  Deaths  NaN
24   2020-01-26  IN     H3      0        0.0  Deaths  NaN
25   2020-03-01  IN     E2      0        0.0  Deaths  NaN
26   2020-03-01  IN    I2D      0        0.0  Deaths  NaN
27   2020-03-15  IN     E4      2        0.0  Deaths  NaN
28   2020-01-25  IN     H1      0        0.0  Deaths  NaN
29   2020-01-25  IN     H2      0        0.0  Deaths  NaN
...         ...  ..    ...    ...        ...     ...  ...
3704 2020-03-16  MC     E3      0        0.0  Deaths  NaN
3705 2020-04-19  MC     E4      3        0.0  Deaths  NaN
3706 2020-04-19  MC     H4      3        0.0  Deaths  NaN
3707 2020-04-19  MC     H5      3        0.0  Deaths  NaN
3708 2020-04-19  MC     H6      3        0.0  Deaths  NaN
3709 2020-02-25  MC     H2      0        0.0  Deaths  NaN
3710 2020-02-29  SM     C1      0        0.0  Deaths  NaN
3711 2020-03-08  SM     C2      1        0.0  Deaths  NaN
3712 2020-03-08  SM     C3      1        0.0  Deaths  NaN
3713 2020-03-08  SM     C4      1        0.0  Deaths  NaN
3714 2020-03-08  SM     C6      1        0.0  Deaths  NaN
3715 2020-03-08  SM     C7      1        0.0  Deaths  NaN
3716 2020-03-15  SM     C5      5        0.0  Deaths  NaN
3717 2020-02-23  SM     C8      0        0.0  Deaths  NaN
3718 2020-02-23  SM    I1D      0        0.0  Deaths  NaN
3719 2020-02-23  SM    I3D      0        0.0  Deaths  NaN
3720 2020-02-23  SM    I4D      0        0.0  Deaths  NaN
3721 2020-02-23  SM    I4L      0        0.0  Deaths  NaN
3722 2020-02-23  SM   I4LD      0        0.0  Deaths  NaN
3723 2020-03-01  SM     E1      0        0.0  Deaths  NaN
3724 2020-03-01  SM     E2      0        0.0  Deaths  NaN
3725 2020-03-01  SM    I2D      0        0.0  Deaths  NaN
3726 2020-11-30  SM     E3     46        1.0  Deaths  NaN
3727 2020-11-30  SM     E4     46        1.0  Deaths  NaN
3728 2020-11-30  SM     H5     46        1.0  Deaths  NaN
3729 2020-02-25  SM     H1      0        0.0  Deaths  NaN
3730 2020-02-27  SM     H2      0        0.0  Deaths  NaN
3731 2020-02-27  SM     H3      0        0.0  Deaths  NaN
3732 2020-07-03  SM     H4     42        0.0  Deaths  NaN
3733 2020-09-15  SM     H6     42        0.0  Deaths  NaN

[3734 rows x 7 columns]

In [26]:
df_cases[df_cases['Date']=='2020-01-26']

              ID       Date  Cases  Cases_New    Type
18            AD 2020-01-26    0.0        0.0  Deaths
1290          AE 2020-01-26    0.0        0.0  Deaths
2562          AF 2020-01-26    0.0        0.0  Deaths
3834          AG 2020-01-26    0.0        0.0  Deaths
5106          AL 2020-01-26    0.0        0.0  Deaths
6378          AM 2020-01-26    0.0        0.0  Deaths
7650          AO 2020-01-26    0.0        0.0  Deaths
8922          AR 2020-01-26    0.0        0.0  Deaths
10194         AT 2020-01-26    0.0        0.0  Deaths
11466         AU 2020-01-26    0.0        0.0  Deaths
12798      AUACT 2020-01-26    0.0        0.0  Deaths
14070      AUNSW 2020-01-26    0.0        0.0  Deaths
16296      AUQLD 2020-01-26    0.0        0.0  Deaths
17568       AUSA 2020-01-26    0.0        0.0  Deaths
18840      AUTAS 2020-01-26    0.0        0.0  Deaths
20112      AUVIC 2020-01-26    0.0        0.0  Deaths
21384       AUWA 2020-01-26    0.0        0.0  Deaths
22656         AZ 2020-01-26    0.0        0.0  Deaths
23928         BA 2020-01-26    0.0        0.0  Deaths
25200         BB 2020-01-26    0.0        0.0  Deaths
26472         BD 2020-01-26    0.0        0.0  Deaths
27744         BE 2020-01-26    0.0        0.0  Deaths
29568         BF 2020-01-26    0.0        0.0  Deaths
30840         BG 2020-01-26    0.0        0.0  Deaths
32112         BH 2020-01-26    0.0        0.0  Deaths
33384         BI 2020-01-26    0.0        0.0  Deaths
34656         BJ 2020-01-26    0.0        0.0  Deaths
35928         BN 2020-01-26    0.0        0.0  Deaths
37200         BO 2020-01-26    0.0        0.0  Deaths
38472         BR 2020-01-26    0.0        0.0  Deaths
...          ...        ...    ...        ...     ...
7430383  US56037 2020-01-26    0.0        0.0  Deaths
7431531  US56039 2020-01-26    0.0        0.0  Deaths
7432691  US56041 2020-01-26    0.0        0.0  Deaths
7433821  US56043 2020-01-26    0.0        0.0  Deaths
7434963  US56045 2020-01-26    0.0        0.0  Deaths
7435983  US56900 2020-01-26    0.0        0.0  Deaths
7437679     US66 2020-01-26    0.0        0.0  Deaths
7442015     US69 2020-01-26    0.0        0.0  Deaths
7446519     US72 2020-01-26    0.0        0.0  Deaths
7492634  US72900 2020-01-26    0.0        0.0  Deaths
7493804     US78 2020-01-26    0.0        0.0  Deaths
7499327  US80008 2020-01-26    0.0        0.0  Deaths
7499650  US80013 2020-01-26    0.0        0.0  Deaths
7500286  US80015 2020-01-26    0.0        0.0  Deaths
7500922  US80017 2020-01-26    0.0        0.0  Deaths
7501558  US80026 2020-01-26    0.0        0.0  Deaths
7502189  US80036 2020-01-26    0.0        0.0  Deaths
7502830  US80047 2020-01-26    0.0        0.0  Deaths
7503784     US98 2020-01-26    0.0        0.0  Deaths
7504747       UY 2020-01-26    0.0        0.0  Deaths
7506019       UZ 2020-01-26    0.0        0.0  Deaths
7509199       VE 2020-01-26    0.0        0.0  Deaths
7510471       VN 2020-01-26    0.0        0.0  Deaths
7512697       XK 2020-01-26    0.0        0.0  Deaths
7513969     XX97 2020-01-26    0.0        0.0  Deaths
7515241     XX99 2020-01-26    0.0        0.0  Deaths
7516517       YE 2020-01-26    0.0        0.0  Deaths
7517789       ZA 2020-01-26    0.0        0.0  Deaths
7519061       ZM 2020-01-26    0.0        0.0  Deaths
7520333       ZW 2020-01-26    0.0        0.0  Deaths

[3366 rows x 5 columns]

In [27]:
df_cases[df_cases['ID']=='CN']

         ID       Date   Cases  Cases_New    Type
2298723  CN 2020-01-22    17.0       17.0  Deaths
2298727  CN 2020-01-23    18.0        1.0  Deaths
2298731  CN 2020-01-24    26.0        8.0  Deaths
2298735  CN 2020-01-25    42.0       16.0  Deaths
2298739  CN 2020-01-26    56.0       14.0  Deaths
2298743  CN 2020-01-27    82.0       26.0  Deaths
2298747  CN 2020-01-28   131.0       49.0  Deaths
2298751  CN 2020-01-29   133.0        2.0  Deaths
2298755  CN 2020-01-30   171.0       38.0  Deaths
2298759  CN 2020-01-31   213.0       42.0  Deaths
2298763  CN 2020-02-01   259.0       46.0  Deaths
2298767  CN 2020-02-02   361.0      102.0  Deaths
2298771  CN 2020-02-03   425.0       64.0  Deaths
2298775  CN 2020-02-04   491.0       66.0  Deaths
2298779  CN 2020-02-05   563.0       72.0  Deaths
2298783  CN 2020-02-06   633.0       70.0  Deaths
2298787  CN 2020-02-07   718.0       85.0  Deaths
2298791  CN 2020-02-08   805.0       87.0  Deaths
2298795  CN 2020-02-09   905.0      100.0  Deaths
2298799  CN 2020-02-10  1012.0      107.0  Deaths
2298803  CN 2020-02-11  1112.0      100.0  Deaths
2298807  CN 2020-02-12  1117.0        5.0  Deaths
2298811  CN 2020-02-13  1369.0      252.0  Deaths
2298815  CN 2020-02-14  1521.0      152.0  Deaths
2298819  CN 2020-02-15  1663.0      142.0  Deaths
2298823  CN 2020-02-16  1766.0      103.0  Deaths
2298827  CN 2020-02-17  1864.0       98.0  Deaths
2298831  CN 2020-02-18  2003.0      139.0  Deaths
2298835  CN 2020-02-19  2116.0      113.0  Deaths
2298839  CN 2020-02-20  2238.0      122.0  Deaths
...      ..        ...     ...        ...     ...
2299875  CN 2020-11-05  4741.0        1.0  Deaths
2299879  CN 2020-11-06  4741.0        0.0  Deaths
2299883  CN 2020-11-07  4741.0        0.0  Deaths
2299887  CN 2020-11-08  4741.0        0.0  Deaths
2299891  CN 2020-11-09  4741.0        0.0  Deaths
2299895  CN 2020-11-10  4742.0        1.0  Deaths
2299899  CN 2020-11-11  4742.0        0.0  Deaths
2299903  CN 2020-11-12  4742.0        0.0  Deaths
2299907  CN 2020-11-13  4742.0        0.0  Deaths
2299911  CN 2020-11-14  4742.0        0.0  Deaths
2299915  CN 2020-11-15  4742.0        0.0  Deaths
2299919  CN 2020-11-16  4742.0        0.0  Deaths
2299923  CN 2020-11-17  4742.0        0.0  Deaths
2299927  CN 2020-11-18  4742.0        0.0  Deaths
2299931  CN 2020-11-19  4742.0        0.0  Deaths
2299935  CN 2020-11-20  4742.0        0.0  Deaths
2299939  CN 2020-11-21  4742.0        0.0  Deaths
2299943  CN 2020-11-22  4742.0        0.0  Deaths
2299947  CN 2020-11-23  4742.0        0.0  Deaths
2299951  CN 2020-11-24  4742.0        0.0  Deaths
2299955  CN 2020-11-25  4742.0        0.0  Deaths
2299959  CN 2020-11-26  4742.0        0.0  Deaths
2299963  CN 2020-11-27  4742.0        0.0  Deaths
2299967  CN 2020-11-28  4743.0        1.0  Deaths
2299971  CN 2020-11-29  4743.0        0.0  Deaths
2299975  CN 2020-11-30  4743.0        0.0  Deaths
2299979  CN 2020-12-01  4743.0        0.0  Deaths
2299983  CN 2020-12-02  4744.0        1.0  Deaths
2299987  CN 2020-12-03  4745.0        1.0  Deaths
2299991  CN 2020-12-04  4746.0        1.0  Deaths

[318 rows x 5 columns]

In [28]:
df_cases[df_cases['Type']=='Deaths']

         ID       Date  Cases  Cases_New    Type
2        AD 2020-01-22    0.0        0.0  Deaths
6        AD 2020-01-23    0.0        0.0  Deaths
10       AD 2020-01-24    0.0        0.0  Deaths
14       AD 2020-01-25    0.0        0.0  Deaths
18       AD 2020-01-26    0.0        0.0  Deaths
22       AD 2020-01-27    0.0        0.0  Deaths
26       AD 2020-01-28    0.0        0.0  Deaths
30       AD 2020-01-29    0.0        0.0  Deaths
34       AD 2020-01-30    0.0        0.0  Deaths
38       AD 2020-01-31    0.0        0.0  Deaths
42       AD 2020-02-01    0.0        0.0  Deaths
46       AD 2020-02-02    0.0        0.0  Deaths
50       AD 2020-02-03    0.0        0.0  Deaths
54       AD 2020-02-04    0.0        0.0  Deaths
58       AD 2020-02-05    0.0        0.0  Deaths
62       AD 2020-02-06    0.0        0.0  Deaths
66       AD 2020-02-07    0.0        0.0  Deaths
70       AD 2020-02-08    0.0        0.0  Deaths
74       AD 2020-02-09    0.0        0.0  Deaths
78       AD 2020-02-10    0.0        0.0  Deaths
82       AD 2020-02-11    0.0        0.0  Deaths
86       AD 2020-02-12    0.0        0.0  Deaths
90       AD 2020-02-13    0.0        0.0  Deaths
94       AD 2020-02-14    0.0        0.0  Deaths
98       AD 2020-02-15    0.0        0.0  Deaths
102      AD 2020-02-16    0.0        0.0  Deaths
106      AD 2020-02-17    0.0        0.0  Deaths
110      AD 2020-02-18    0.0        0.0  Deaths
114      AD 2020-02-19    0.0        0.0  Deaths
118      AD 2020-02-20    0.0        0.0  Deaths
...      ..        ...    ...        ...     ...
7521469  ZW 2020-11-05  248.0        0.0  Deaths
7521473  ZW 2020-11-06  250.0        2.0  Deaths
7521477  ZW 2020-11-07  251.0        1.0  Deaths
7521481  ZW 2020-11-08  253.0        2.0  Deaths
7521485  ZW 2020-11-09  254.0        1.0  Deaths
7521489  ZW 2020-11-10  255.0        1.0  Deaths
7521493  ZW 2020-11-11  255.0        0.0  Deaths
7521497  ZW 2020-11-12  255.0        0.0  Deaths
7521501  ZW 2020-11-13  257.0        2.0  Deaths
7521505  ZW 2020-11-14  257.0        0.0  Deaths
7521509  ZW 2020-11-15  257.0        0.0  Deaths
7521513  ZW 2020-11-16  257.0        0.0  Deaths
7521517  ZW 2020-11-17  260.0        3.0  Deaths
7521521  ZW 2020-11-18  261.0        1.0  Deaths
7521525  ZW 2020-11-19  265.0        4.0  Deaths
7521529  ZW 2020-11-20  265.0        0.0  Deaths
7521533  ZW 2020-11-21  265.0        0.0  Deaths
7521537  ZW 2020-11-22  268.0        3.0  Deaths
7521541  ZW 2020-11-23  273.0        5.0  Deaths
7521545  ZW 2020-11-24  274.0        1.0  Deaths
7521549  ZW 2020-11-25  274.0        0.0  Deaths
7521553  ZW 2020-11-26  274.0        0.0  Deaths
7521557  ZW 2020-11-27  275.0        1.0  Deaths
7521561  ZW 2020-11-28  275.0        0.0  Deaths
7521565  ZW 2020-11-29  275.0        0.0  Deaths
7521569  ZW 2020-11-30  276.0        1.0  Deaths
7521573  ZW 2020-12-01  277.0        1.0  Deaths
7521577  ZW 2020-12-02  277.0        0.0  Deaths
7521581  ZW 2020-12-03  280.0        3.0  Deaths
7521585  ZW 2020-12-04  281.0        1.0  Deaths

[3164551 rows x 5 columns]